<% const cards = [{ color: 'red', value: "1" }, { color: 'green', value: "2" }] %>
<% for (card of cards) { %>
  <div class="card card-<%= card.color %>">
    <span class="card-<%= card.value %>"></span>
    <div class="label">
      <span class="card-<%= card.value %>"></span>
    </div>
    <img src="/images/card.png" alt="card">
    <span class="card-<%= card.value %>"></span>
  </div>
<% } %>