<div id="chat">
  <h2>Chat</h2>
  <div id="messages">

  </div>
  <div class="row">
    <div>
      <input
        type="text" 
        name="message" 
        id="chat-input"
        placeholder="Message"
      >
    </div>
    <div>
      <button id="send-btn">Send</button>
    </div>
  </div>
</div>