<div id="chat">
  <h2>Chat</h2>
  <div id="messages">

  </div>
  <div class="row">
    <input
      type="text" 
      name="message" 
      id="chat-input"
      data-url="/chat/<%= id %>"
      placeholder="Message"
    >
    <button id="send-btn">Send</button>
  </div>
</div>