<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div>
    <div class="col">
      <%- include('partials/navigation') %>
    </div>
    <% if(locals.user.id == created_by) { %>
      <div class="col justify-center">
        <button id='start-game-btn' type="button">Start</button>
      </div>
    <% } %>

    <div id="play-card">

    </div>

    <div id="cards" class="row">

    </div>
  </div>
</body>
</html>