<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="row justify-space-between">
    <div>
      <%- include('partials/navigation') %>
    </div>
    <div>
      <%- include('partials/chat') %>
      <%- include('partials/card') %>
    </div>
  </div>
</body>
</html>