<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<script defer>
  const gameStarted = () => {
    const path = location.pathname.split("/");
    const gameID = path[path.length - 1];

    fetch(`/game/started/${gameID}`, { method:'get'})
  }

  setTimeout(gameStarted, 1500);
</script>
<body>
  <div class="row nav-bar justify-space-between align-center">
    <div class="col">
      <h2><%= locals.user.username %></h2>
    </div>
    <div class="col">
      <div class="row">
        <%- include('partials/navigation') %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col flex game-room">
      <div id="players"></div>
      <div class="drawer">
        <% if(locals.user.id == created_by) { %>
          <div id='start-game-btn-container' class="col justify-center">
            <button id='start-game-btn' type="button">Start</button>
          </div>
        <% } %>
        <div class="col">
          <div class="row justify-center align-center">
            <div class="col">
              <div id="draw-card"></div>
            </div>
            <div class="col">
              <div id="play-card"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id='color-picker' class="row"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="player"></div>
    </div>
    <div class="col">
      <%- include('partials/chat') %>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>