<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<script>
  (function(){
    const path = location.pathname.split("/");
    const id = path[path.length - 1];
    fetch(`/api/game/join/${id}`, { method: "post" })
    .then(res => {
      if(res.status !== 200) {
        document.location.href = "/lobby";
      }
    })
  })()
</script>
<body>
  <div>
    <div class="col">
      <%- include('partials/navigation') %>
    </div>
    <div class="col justify-center">
      <button id='start-game-btn' type="button">Start</button>
    </div>

    <div id="cards" class="row">

    </div>
  </div>
</body>
</html>