<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="row nav-bar justify-space-between align-center">
    <div class="col">
      <h2><%= locals.user.username %></h2>
    </div>
    <div class="col">
      <div class="row">
        <%- include('partials/navigation') %>
      </div>
    </div>
  </div>
  <div>
    <% if(locals.user.id == created_by) { %>
      <div id='start-game-btn-container' class="col justify-center">
        <button id='start-game-btn' type="button">Start</button>
      </div>
    <% } %>

    <div class="col">
      <div class="row">
        <div class="col">
          <div id="draw-card"></div>
        </div>
        <div class="col">
          <div id="play-card"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id='color-picker' class="row"></div>
        </div>
      </div>
    </div>

    <div id="players"></div>
    <div id="player"></div>
  </div>
</body>
</html>