<html>
  <%- include('partials/head') %>
  <body>
    <h1>Sign Up Page</h1>

    <%- include('partials/navigation') %>
    <form method="post" action="<%= form_submit_url %>">
      <% if(locals.errorMessage) { %>
        <p><%= locals.errorMessage %></p>
      <% } %>
      <div>
        <label for="username">Username</label>
        <div>
          <input 
            name="username" 
            autocomplete="username" 
            placeholder="Username"
          />
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <div>
          <input 
            name="email" 
            autocomplete="email" 
            placeholder="Email address" 
          />
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <div>
          <input 
            name="password" 
            type="password" 
            autocomplete="new-password" 
            placeholder="Create a password"
          />
        </div>
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
  </body>
</html>