* {
  margin: 0px;
  padding: 0px;
}

.row {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.align-top {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

table {
  margin: auto;
  width: 50%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
